body {
  background-color: aliceblue;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

span {
  cursor: pointer;
}

/* .primaty-btn {
}
.secondary-btn {
} */
